body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row {
  position: relative;
}

.hover-btn {
  position: absolute;
  right: 15px;
  display: none;
}

.row:hover .hover-btn {
  display: block;
}