<!DOCTYPE html>
<html lang="en" ng-app="MessagesApp">
<head>
    <script type="text/javascript" src="/javascripts/Graphs/fusioncharts/fusioncharts.js"></script>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <script type="text/javascript" src="/javascripts/Graphs/angular-fusioncharts.min.js"></script>
    <script type="text/javascript" src="/javascripts/checklist-model.js"></script>
    <link rel="stylesheet" type="text/css" href="/Bootstrap/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="/javascripts/display.js"></script>
    <!--<script type="text/javascript" src="/Bootstrap/angular-file-upload/dist/angular-file-upload.js"></script>-->
    <!--<script type="text/javascript" src="/Bootstrap/angular-file-upload/dist/angular-file-upload.min.js"></script>-->
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload-shim.js"></script>
    <script type="text/javascript" src="/Bootstrap/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/Bootstrap/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>
    <script type="text/javascript" src="/javascripts/ScreensManagement.js"></script>
    <script type="text/javascript" src="/javascripts/Create.js"></script>
    <script type="text/javascript" src="/javascripts/Item.js"></script>
    <script type="text/javascript" src="/javascripts/Screens.js"></script>
    <script type="text/javascript" src="/javascripts/Templates.js"></script>
    <script type="text/javascript" src="/javascripts/Statistics.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create message</title>

</head>
<body ng-controller="CreateCtrl">

<div class="container">
    <header>
        <ul class="nav nav-pills">
            <li><a href="/index">Home</a></li>
            <li><a href="/list">List</a></li>
            <li><a href="/Create">Create</a></li>
            <li><a href="/ScreensManagement">Simulate</a></li>
            <li><a href="/Screens">Screens</a></li>
            <li><a href="/Templates">Templates</a></li>
            <li><a href="/Statistics">Statistics</a></li>
            <li><a href="/About">About</a></li>
        </ul>
    </header>
    <div class="jumbotron">
        <h1>Create message</h1>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="Message.name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Template</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="Message.template">
                    <option ng-repeat="template in Templates" ng-value="template.path">{{template.path}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Display Time (milliseconds)</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="dispTimeSec" ng-model="Message.dispTimeSec">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Screens</label>

            <label class="checkbox-inline" ng-repeat="screen in Screens">
                <input type="checkbox" checklist-model="Message.screen" checklist-value="screen.number">
                {{screen.location}}
            </label>
        </div>

        <h3>Texts</h3>
        <div ng-repeat="index in [1,2,3,4,5,6,7,8,9,10]">
            <div class="form-group">
                <label class="control-label col-sm-2">Text {{index}}: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="text{{index}}" ng-model="Message.text[index-1]">
                </div>
            </div>
        </div>
        <h3>Images</h3>


        <!--<form>-->
        <!--<input type="file" ng-file-select="imageSelected($image)" accept="'image/*'">-->
        <!--<input class="btn btn-default"  type="submit" ng-click="uploadImage()" >-->

        <!--</form>-->

        <!-- uploadPic($files) -->
        <button class="btn btn-default" ngf-select="upload($files)">
            Upload Image
        </button>

        <!--<div>-->
        <!--<input  type="file" fileread="imageToUpload"/>-->
        <!--<button class="btn btn-default" ng-click="uploadImage()">Upload</button>-->
        <!--</div>-->

        <div ng-repeat="index in [1,2,3,4,5]">
            <div class="form-group">

                <label class="control-label col-sm-2">Image {{index}}</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="Message.images[index-1]">
                        <option ng-repeat="image in Images" ng-value="image">{{image}}</option>
                    </select>
                </div>
            </div>
        </div>
        <ul ng-repeat="timeFrame in Message.TimeFrame" class="nav nav-tabs nav-stacked">
            <li>
                <div class="hover-btn">
                    <button type="button" ng-click="removeTimeFrame($index)" class="close" data-dismiss="alert">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <h3>Time Frame {{$index+1}}
                </h3>

                <div class="form-group" id="TimeFrame">
                    <label class="control-label col-sm-2">From date:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-model="timeFrame.FromDate" placeholder="dd-MM-yyyy">
                    </div>
                    <label class="control-label col-sm-2">To date:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" ng-model="timeFrame.ToDate" placeholder="dd-MM-yyyy">
                    </div>
                    <label class="control-label col-sm-2">From time:</label>
                    <div class="col-sm-4">
                        <input type="time" class="form-control" ng-model="timeFrame.FromTime" placeholder="HH:mm:ss">
                    </div>
                    <label class="control-label col-sm-2">To time:</label>
                    <div class="col-sm-4">
                        <input type="time" class="form-control" ng-model="timeFrame.ToTime" placeholder="HH:mm:ss">
                    </div>
                    <label class="control-label col-sm-2">Days:</label>
                    <div class="form-group col-sm-10">
                        <label class="checkbox-inline" ng-repeat="day in ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']">
                            <input class="" type="checkbox" ng-model="timeFrame.days[$index]"/>
                            {{day}}
                        </label>
                    </div>
                </div>
            </li>

        </ul>

        <button type="button" ng-click="addTimeFrame()" class="btn glyphicon glyphicon-plus"></button>

        <div class="form-group">
            <div class="btn btn-large btn-block">
                <button type="submit" ng-click="addMessage()" class="btn btn-default">Create</button>
            </div>
        </div>
    </form>

    <div id="messageAdded" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Message added!</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>