<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" ng-app="MessagesApp">
<head>

    <link rel="stylesheet" type="text/css" href="/stylesheets/Display.css" />

    <script type="text/javascript" src="/javascripts/angular/angular.js"></script>
    <script type="text/javascript" src="/javascripts/angular/angular-route.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload-shim.js"></script>
    <script type="text/javascript" src="/javascripts/display.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/checklist-model.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>
    <script type="text/javascript" src="/javascripts/ScreensManagement.js"></script>
    <script type="text/javascript" src="/javascripts/Create.js"></script>
    <script type="text/javascript" src="/javascripts/Item.js"></script>
    
    <meta charset="UTF-8" />
    <title>Display</title>

    <script type="text/javascript">


        var screenId = getParameterByName('screen');
        console.log('screen: ' + screenId);

        var socket = io.connect('http://localhost:8080');

        // on connection to server, ask for user's name with an anonymous callback
        socket.on('connect', function () {
            socket.emit('getdata', screenId);

        });

        socket.on('displayData', function (data) {
            //console.log("data:"+data);

            _Messages = data;
            _ON = true;
            StartCycle();

        });

        socket.on('updateData', function () {
            socket.emit('getdata', screenId);
            console.log("update Messages");

            /*
            //console.log("updateData:"+ JSON.stringify(result)+"\n\n\n");
            console.log("update Messages");
            _Messages = result;
            if (!_ON)
                StartCycle(_Messages);
             */

        });
    </script>
</head>
<body>
    <div id="pageTemplate">

    </div>
</body>
</html>
