<!DOCTYPE html>
<html lang="en" ng-app="MessagesApp">
<head>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <link rel="stylesheet" type="text/css" href="/Bootstrap/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="/javascripts/display.js"></script>
    <script type="text/javascript" src="/Bootstrap/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/Bootstrap/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>
    <script type="text/javascript" src="/javascripts/Create.js"></script>
    <script type="text/javascript" src="/javascripts/Item.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit message</title>

</head>
<body ng-controller="EditCtrl">

    <div class="container">
        <h2>Edit message</h2>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" value={{Message.name}}>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Template</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="template" value={{Message.template}}>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Dispy Time (sec)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dispTimeSec" value={{Message.dispTimeSec}}>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Screen</label>
                <div class="col-sm-10">
                    <select multiple class="form-control" id="screen">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Screen</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="screen" value={{Message.screen}}>
                </div>
            </div>

            <h3>Texts</h3>
            <div ng-repeat="index in [1,2,3,4,5,6,7,8,9,10]">
                <div class="form-group">
                    <label class="control-label col-sm-2">Text {{index}}: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="text{{index}}" value={{Message.text[index-1]}}>
                    </div>
                </div>
            </div>
            <h3>Images</h3>
            <div ng-repeat="index in [1,2,3,4,5]">
                <div class="form-group">
                    <label class="control-label col-sm-2">Image {{index}}: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="image{{index}}" value={{Message.images[index-1]}}>
                    </div>
                </div>
            </div>
            <div ng-repeat="frame in Message.TimeFrame">
                <h3>Time Frame {{$index+1}}</h3>
                    <div class="form-group" id="TimeFrame">
                        <label class="control-label col-sm-2">From date:</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="formDate" ng-model="s_TimeFrames[$index].FromDate" placeholder="dd-MM-yyyy">
                        </div>
                        <label class="control-label col-sm-2">To date:</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" id="toDate" ng-model="s_TimeFrames[$index].ToDate" placeholder="dd-MM-yyyy">
                        </div>
                        <label class="control-label col-sm-2">From time:</label>
                        <div class="col-sm-4">
                            <input type="time" class="form-control" id="fromTime" ng-model="s_TimeFrames[$index].FromTime" placeholder="HH:mm:ss">
                        </div>
                        <label class="control-label col-sm-2">To time:</label>
                        <div class="col-sm-4">
                            <input type="time" class="form-control" id="toTime" ng-model="s_TimeFrames[$index].ToTime" placeholder="HH:mm:ss">
                        </div>
                        <label class="control-label col-sm-2">Days:</label>
                        <div class="form-group col-sm-10">
                            <label class="checkbox-inline" ng-repeat="day in ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']">
                                <input class="" type="checkbox" id="day{{$index}}" ng-model="frame.days[$index]"/>
                                {{day}}
                            </label>
                        </div>
                    </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>