<!DOCTYPE html>
<html lang="en" ng-app="MessagesApp">
<head>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <link rel="stylesheet" type="text/css" href="/Bootstrap/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="/javascripts/display.js"></script>
    <script type="text/javascript" src="/Bootstrap/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/Bootstrap/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>
    <script type="text/javascript" src="/javascripts/Create.js"></script>
    <script type="text/javascript" src="/javascripts/Item.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit message</title>

</head>
<body ng-controller="EditCtrl">

    <div class="container">
        <header>
            <h3 class="text-muted">Messages</h3>
            <ul class="nav nav-pills">
                <li><a href="/list">List</a></li>
                <li><a href="/Create">Create</a></li>
                <li><a href="/Manage">Manage</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </header>
        <h2>Edit message</h2>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" ng-model="Message.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Template</label>
                <div class="col-sm-10">
                    <select class="form-control" id="template" ng-options="template.path for template in Templates track by template.path" ng-model="Message.template">
                        <option value="">-- choose template --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Display Time (milliseconds)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dispTimeSec" ng-model="Message.dispTimeSec">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Screens</label>

                <label class="checkbox-inline" ng-repeat="screen in Screens">
                    <input type="checkbox" checklist-model="Message.screen" checklist-value="screen.number" ng-checked="Message.screen.indexOf(screen.number) > -1">
                    {{screen.location}}
                </label>
            </div>

            <h3>Texts</h3>
            <div ng-repeat="index in [1,2,3,4,5,6,7,8,9,10]">
                <div class="form-group">
                    <label class="control-label col-sm-2">Text {{index}}: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="text{{index}}" ng-model="Message.text[index-1]">
                    </div>
                </div>
            </div>
            <h3>Images</h3>
            <div ng-repeat="index in [1,2,3,4,5]">
                <div class="form-group">
                    <label class="control-label col-sm-2">Image {{index}}: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="image{{index}}" ng-model="Message.images[index-1]">
                    </div>
                </div>
            </div>
            <div ng-repeat="frame in Message.TimeFrame">
                <h3>Time Frame {{$index+1}}</h3>
                    <div class="form-group" id="TimeFrame">
                        <label class="control-label col-sm-2">From date:</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" ng-model="frame.FromDate" placeholder="dd-MM-yyyy">
                        </div>
                        <label class="control-label col-sm-2">To date:</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" ng-model="frame.ToDate" placeholder="dd-MM-yyyy">
                        </div>
                        <label class="control-label col-sm-2">From time:</label>
                        <div class="col-sm-4">
                            <input type="time" class="form-control" ng-model="frame.FromTime" placeholder="HH:mm:ss">
                        </div>
                        <label class="control-label col-sm-2">To time:</label>
                        <div class="col-sm-4">
                            <input type="time" class="form-control" ng-model="frame.ToTime" placeholder="HH:mm:ss">
                        </div>
                        <label class="control-label col-sm-2">Days:</label>
                        <div class="form-group col-sm-10">
                            <label class="checkbox-inline" ng-repeat="day in ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']">
                                <input class="" type="checkbox" ng-model="frame.days[$index]"/>
                                {{day}}
                            </label>
                        </div>
                    </div>
            </div>

            <div class="form-group">
                <div class="btn btn-large btn-block">
                    <button type="submit" ng-click="saveChanges()" class="btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>