<!DOCTYPE html>
<html lang="en" ng-app="MessagesApp">
<head>
    <script type="text/javascript" src="/javascripts/Graphs/fusioncharts/fusioncharts.js"></script>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <script type="text/javascript" src="/javascripts/Graphs/angular-fusioncharts.min.js"></script>
    <script type="text/javascript" src="/javascripts/checklist-model.js"></script>
    <link rel="stylesheet" type="text/css" href="/Bootstrap/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="/javascripts/display.js"></script>
    <script src="/Bootstrap/angular-animate/angular-animate.min.js"></script>
    <script src="/Bootstrap/angular-aria/angular-aria.min.js"></script>
    <script src="/Bootstrap/angular-messages/angular-messages.min.js"></script>
    <script src="/Bootstrap/angular-material/angular-material.js"></script>
    <link rel="stylesheet" href="/Bootstrap/angular-material/angular-material.css">
    <link rel="stylesheet" href="/stylesheets/Templates.css">
    <!-- extra, overriding theme files -->
    <!--<script type="text/javascript" src="/Bootstrap/angular-file-upload/dist/angular-file-upload.js"></script>-->
    <!--<script type="text/javascript" src="/Bootstrap/angular-file-upload/dist/angular-file-upload.min.js"></script>-->
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload-shim.js"></script>
    <script type="text/javascript" src="/Bootstrap/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/Bootstrap/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>
    <script type="text/javascript" src="/javascripts/ScreensManagement.js"></script>
    <script type="text/javascript" src="/javascripts/Create.js"></script>
    <script type="text/javascript" src="/javascripts/Item.js"></script>
    <script type="text/javascript" src="/javascripts/Screens.js"></script>
    <script type="text/javascript" src="/javascripts/Templates.js"></script>
    <script type="text/javascript" src="/javascripts/Statistics.js"></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

</head>
<body >
<div class="container">
    <header>
        <ul class="nav nav-pills">
            <li><a href="/index">Home</a></li>
            <li><a href="/list">List</a></li>
            <li><a href="/Create">Create</a></li>
            <li><a href="/ScreensManagement">Simulate</a></li>
            <li><a href="/Screens">Screens</a></li>
            <li><a href="/Templates">Templates</a></li>
            <li><a href="/Statistics">Statistics</a></li>
            <li><a href="/About">About</a></li>
        </ul>
    </header>

</div>

<script>
    var weatherCallback = function (data) {
        var wind = data.query.results.channel.wind;
        var item = data.query.results.channel.item;
        $("#temperatureDiv h4").text("Weather: " + item.title);
        var text = "Wind - chill: " + wind.chill + ", speed: " + wind.speed +
                "</br> Temperature: " + item.condition.temp + " °C";
        $("#temperatureDiv p").html(text);

        if (item.condition.temp > 20 && item.condition.temp < 25) {
            $("#temperatureDiv").append("<p><b>Recomendation: </b> Go out and don't read books.</p>");
        } else {
            $("#temperatureDiv").append("<p><b>Recomendation: </b> Stay at home and read books.</p>");
        }
    };
</script>

<div class="container">
    <div class="jumbotron">
        <h1>Home</h1>
    </div>

    <div>
        <h3>How to write children's book</h3>
        <video controls="controls" width="300">
            <source src="http://content3.videojug.com/7b/7b7dfb03-9643-5dff-636b-ff0008ce14d6/how-to-write-childrens-books__VJ480PENG.mp4" type="video/mp4" />
        </video>
    </div>
</div>
</body>
<footer>
    <div id="temperatureDiv" class="container">
        <h4>Weather</h4>
        <p>geting info...</p>
    </div>

    <!-- Weather service -->
    <script src="/javascripts/weatherService.js"></script>
    <script src="https://query.yahooapis.com/v1/public/yql?q=select item, wind from weather.forecast where woeid in (select woeid from geo.places(1) where text='israel') and u='c'&format=json&callback=weatherCallback"></script>

</footer>
</html>