<!DOCTYPE html>
<html lang="en" ng-app="MessagesApp">
<head>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <link rel="stylesheet" type="text/css" href="/Bootstrap/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="/javascripts/checklist-model.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload-shim.js"></script>
    <script type="text/javascript" src="/javascripts/display.js"></script>
    <script type="text/javascript" src="/Bootstrap/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/Bootstrap/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/ScreensManagement.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>
    <script type="text/javascript" src="/javascripts/Create.js"></script>
    <script type="text/javascript" src="/javascripts/Item.js"></script>
    <script type="text/javascript" src="/javascripts/Screens.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Message item</title>



</head>
<body ng-controller="ItemCtrl">
    <div class="container">
        <header>
            <h3 class="text-muted">Messages</h3>
            <ul class="nav nav-pills">
                <li><a href="/list">List</a></li>
                <li><a href="/Create">Create</a></li>
                <li><a href="/ScreensManagement">Manage</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </header>
        <h2>message</h2>
        <p>
            <a class="btn btn-primary" href="/Edit?name={{Message.name}}" role="button">Edit &raquo;</a>
            <a class="btn btn-warning" href="/Delete?name={{Message.name}}" role="button">Delete &raquo;</a>
        </p>
        <p style="font-size:20px;">Name:
                    <span style="text-decoration:underline;font-weight:bold">
                        <a href="/Item?name={{Message.name}}" role="button">
                            {{Message.name}}
                        </a>
                    </span>
        </p>

        <div id="MainContainer">
            <div class="FullLine">

                <p style="font-size:20px">Texts:</p>
                <div class="list-group" ng-repeat="Text in Message.text">
                    <label class="control-label col-sm-1">Text {{$index + 1}}: </label>
                    <p style="font-size:15px">{{Text}}</p>
                </div>

                <p style="font-size:20px">Images:</p>
                <div class="list-group" ng-repeat="Image in Message.images">
                    <label class="control-label col-sm-1">Image {{$index + 1}}: </label>
                    <p style="font-size:15px">{{Image}} <img ng-src="{{Image}}" class="img-rounded" alt="Cinque Terre" width="110" height="60"> </p>
                </div>

                <p style="font-size:20px">Template: {{Message.template}}</p>
                <p style="font-size:20px">Display Time: {{Message.dispTimeSec}} (sec)</p>
                <p style="font-size:20px">
                    Screens:
                            <span ng-repeat="screen in Message.screen">
                                {{screen}}
                            </span>
                </p>

                <p style="font-size:25px">Time Frames:</p>
                <div class="list-group" ng-repeat="Time in Message.TimeFrame">
                    <H4>Time Frame {{$index + 1}}: </H4>
                    <span style="font-size:15px">Date: {{Time.FromDate | date: "yyyy-MM-dd"}} -> {{Time.ToDate| date: "yyyy-MM-dd"}}</span>
                    <br />
                            <span style="font-size:15px">
                                Days:
                                <span class="list-group" ng-repeat="Day in Time.days track by $index">
                                    {{ {val:Day, index:$index} | Day}}
                                </span>
                            </span>
                    <br />
                    <span style="font-size:15px">Time: {{Time.FromTime | date: "HH:mm"}} -> {{Time.ToTime | date: "HH:mm"}}</span>
                </div>
            </div>
        </div>
       
    </div>
</body>
</html>