<!DOCTYPE html>
<html lang="en" ng-app="MessagesApp">
<head>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <link rel="stylesheet" type="text/css" href="/Bootstrap/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="/javascripts/display.js"></script>
    <script type="text/javascript" src="/Bootstrap/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/Bootstrap/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>
    <script type="text/javascript" src="/javascripts/Create.js"></script>
    <script type="text/javascript" src="/javascripts/Item.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Message item</title>



</head>
<body ng-controller="ItemCtrl">
    <div class="container">
        <h2>Edit message</h2>
        <p>
            <a class="btn btn-primary" href="/Edit?name={{Message.name}}" role="button">Edit &raquo;</a>
            <a class="btn btn-warning" href="/Delete?name={{Message.name}}" role="button">Delete &raquo;</a>
        </p>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2">Name</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{Message.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Template</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{Message.template}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Dispy Time (sec)</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{Message.dispTimeSec}}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Screen</label>
                <div class="col-sm-10">
                    <p class="form-control-static">{{Message.screen}}</p>
                </div>
            </div>

            <h3>Texts</h3>
            <div ng-repeat="index in [1,2,3,4,5,6,7,8,9,10]">
                <div class="form-group">
                    <label class="control-label col-sm-2">Text {{index}}: </label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{Message.text[index-1]}}</p>
                    </div>
                </div>
            </div>
            <h3>Images</h3>
            <div ng-repeat="index in [1,2,3,4,5]">
                <div class="form-group">
                    <label class="control-label col-sm-2">Image {{index}}: </label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{Message.images[index-1]}}</p>
                    </div>
                </div>
            </div>
            <div ng-repeat="frame in Message.TimeFrame">
                <h3>Time Frame {{$index+1}}</h3>
                <div class="form-group">
                    <label class="control-label col-sm-2">From date:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{frame.FromDate}}</p>
                    </div>
                    <label class="control-label col-sm-2">To date:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{frame.ToDate}}</p>
                    </div>
                    <label class="control-label col-sm-2">Days:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{frame.days}}</p>
                    </div>
                    <label class="control-label col-sm-2">From time:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{frame.FromTime}}</p>
                    </div>
                    <label class="control-label col-sm-2">To time:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{frame.ToTime}}</p>
                    </div>
                </div>
            </div>
          
        </form>
       
    </div>
</body>
</html>