<!DOCTYPE html>
<html lang="en" ng-app="MessagesApp">
<head>

    <script type="text/javascript" src="/javascripts/Graphs/fusioncharts/fusioncharts.js"></script>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <script type="text/javascript" src="/javascripts/Graphs/angular-fusioncharts.min.js"></script>
    <script type="text/javascript" src="/javascripts/checklist-model.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload-shim.js"></script>
    <link rel="stylesheet" type="text/css" href="/Bootstrap/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="javascripts/display.js"></script>
    <script src="/Bootstrap/angular-animate/angular-animate.min.js"></script>
    <script src="/Bootstrap/angular-aria/angular-aria.min.js"></script>
    <script src="/Bootstrap/angular-messages/angular-messages.min.js"></script>
    <script src="/Bootstrap/angular-material/angular-material.js"></script>
    <link rel="stylesheet" href="/Bootstrap/angular-material/angular-material.css">
    <link rel="stylesheet" href="/stylesheets/Templates.css">
    <!-- extra, overriding theme files -->
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/ScreensManagement.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>
    <script type="text/javascript" src="/javascripts/Create.js"></script>
    <script type="text/javascript" src="/javascripts/Item.js"></script>
    <script type="text/javascript" src="/javascripts/Screens.js"></script>
    <script type="text/javascript" src="/javascripts/Templates.js"></script>
    <script type="text/javascript" src="/javascripts/Statistics.js"></script>

    <meta charset="UTF-8">
    <title>Messages list</title>
</head>

<body ng-controller="ListCtrl">

    <div class="container">
        <header>
            <ul class="nav nav-pills">
                <li><a href="/index">Home</a></li>
                <li class="active"><a href="/list">List</a></li>
                <li><a href="/Create">Create</a></li>
                <li><a href="/ScreensManagement">Simulate</a></li>
                <li><a href="/Screens">Screens</a></li>
                <li><a href="/Templates">Templates</a></li>
                <li><a href="/Statistics">Statistics</a></li>
                <li><a href="/About">About</a></li>
            </ul>

        </header>
        <div>
            <div class="jumbotron">
                <h1>Search:</h1>
                <label>Any: <input ng-model="search.$"></label>&nbsp;
                <label>Name: <input ng-model="search.name"></label>&nbsp;
                <label>Text: <input ng-model="search.text"></label>&nbsp;
                <label>Screen: <input ng-model="search.screen"></label>&nbsp;
            </div>

            <ul ng-repeat="Message in Messages | filter:search" class="nav nav-tabs nav-stacked">
                <li>
                <p style="font-size:20px;">Name: 
                    <span style="text-decoration:underline;font-weight:bold">
                        <a href="/Item?name={{Message.name}}" role="button">                            
                            {{Message.name}}
                        </a>
                    </span>
                </p>

                <div id="MainContainer">
                    <div class="FullLine">

                        <p style="font-size:20px">Texts:</p>
                        <div class="list-group" ng-repeat="Text in Message.text track by $index">
                            <p style="font-size:15px">{{Text}}</p>
                        </div>

                        <p style="font-size:20px">Images:</p>
                        <div class="list-group" ng-repeat="Image in Message.images track by $index">
                            <img ng-src="{{Image}}" />
                        </div>

                        <p style="font-size:20px">Template: {{Message.template}}</p>
                        <p style="font-size:20px">Display Time: {{Message.dispTimeSec}} (sec)</p>
                        <p style="font-size:20px">
                            Screens:
                            <span ng-repeat="screen in Message.screen">
                                {{screen}}
                            </span>
                        </p>

                        <p style="font-size:20px">Time Frame:</p>
                        <div class="list-group" ng-repeat="Time in Message.TimeFrame">
                            <span style="font-size:15px">Date: {{Time.FromDate | date: "yyyy-MM-dd"}} -> {{Time.ToDate| date: "yyyy-MM-dd"}}</span>
                            <br />
                            <span style="font-size:15px">
                                Days:
                                <span class="list-group" ng-repeat="Day in Time.days track by $index">
                                    {{ {val:Day, index:$index} | Day}}
                                </span>
                            </span>
                            <br />
                            <span style="font-size:15px">Time: {{Time.FromTime | date: "HH:mm"}} -> {{Time.ToTime | date: "HH:mm"}}</span>
                        </div>
                        <p>
                            <a class="btn btn-primary" href="/Edit?name={{Message.name}}" role="button">Edit &raquo;</a>
                            <!--<button class="btn btn-warning" ng-click="preDeleteMessage(Message)">Delete</button>-->
                            <button class="btn btn-warning" ng-click="deleteMessage(Message)">Delete</button>

                        </p>
                    </div>
                </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="deleteMessage" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete message</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete message
                    <label class="col-sm-2 form-control" style="font-weight: bold">
                        {{deleteMessageData.name}}
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteMessage(deleteMessageData)">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">no</button>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
