<!DOCTYPE html>
<html lang="en" ng-app="MessagesApp">
<head>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <link rel="stylesheet" type="text/css" href="/Bootstrap/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="javascripts/display.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>

    <meta charset="UTF-8">
    <title>Messages list</title>
</head>

<body ng-controller="ListCtrl">
<H1><B>Search:</B></H1>
<label>Any: <input ng-model="search.$"></label>
<label>Name: <input ng-model="search.name"></label>
<label>text: <input ng-model="search.text"></label>
<br/>
<H2><B>Messages:</B></H2>

<div ng-repeat="Message in Messages | filter:search">

    <p style="font-size:20px">Name: {{Message.name}}</p>

    <div id="MainContainer">
        <div class="FullLine">

            <p style="font-size:20px">Texts:</p>
            <div class="list-group" ng-repeat="Text in Message.text">
                <p style="font-size:15px">{{Text}}</p>
            </div>

            <p style="font-size:20px">Images:</p>
            <div class="list-group" ng-repeat="Image in Message.images">
                <p style="font-size:15px">{{Image}}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
