<!DOCTYPE html>
<html lang="en" ng-app="MessagesApp">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Display.css" />

    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <script type="text/javascript" src="/javascripts/checklist-model.js"></script>
    <link rel="stylesheet" type="text/css" href="/Bootstrap/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload-shim.js"></script>
    <script type="text/javascript" src="javascripts/display.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/ScreensManagement.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>
    <script type="text/javascript" src="/javascripts/Create.js"></script>
    <script type="text/javascript" src="/javascripts/Item.js"></script>
    <script type="text/javascript" src="/javascripts/Screens.js"></script>
    <script type="text/javascript" src="/javascripts/Templates.js"></script>
    <script type="text/javascript" src="/javascripts/Statistics.js"></script>

    <meta charset="UTF-8">
    <title>Screen Display</title>
</head>

<body ng-controller="ScreensManagementCtrl">

<div class="container">


    <header>
        <h3 class="text-muted">Messages</h3>
        <ul class="nav nav-pills">
            <li><a href="/list">List</a></li>
            <li><a href="/Create">Create</a></li>
            <li class="active"><a href="/ScreensManagement">Manage</a></li>
            <li><a href="/Screens">Screens</a></li>
            <li><a href="/Templates">Templates</a></li>
            <li><a href="/Statistics">Statistics</a></li>
            <li><a href="/About">About</a></li>
        </ul>

    </header>


        <div class="jumbotron">
            <h1>Show display:</h1>
            <form class="form-horizontal" role="form" ng-submit="ShowScreen(Display)">
                <div class="form-group">

                    <div class="col-sm-3">
                        <select class="form-control" ng-model="Display.screen" required>
                            <option value="" disabled>Screen</option>
                            <option ng-repeat="screen in Screens"  ng-value="screen.number">{{screen.location}}</option>
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <input class="form-control" type="date" ng-model="Display.date" required>
                    </div>

                    <div class="col-sm-2">
                        <input class="form-control" type="time" ng-model="Display.time" required>
                    </div>

                    <div class="col-sm-2">
                        <select class="form-control" ng-model="Display.day" required>
                            <option value="" disabled>Day</option>
                            <option ng-repeat="day in daysName"  ng-value="$index">{{day}}</option>
                        </select>
                    </div>

                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-default" ng-hide="ShowButtonDis" >Show</button>

                        <button type="button" class="btn btn-default" ng-click="Stop()" ng-hide="StopButtonDis">Stop</button>
                    </div>
                </div>
            </form>
        </div>
        <h2>Screen:</h2>
        <div id="display" style="border: 1px black solid; height:400px">&nbsp;</div>

</div>
</body>
</html>
