<!DOCTYPE html>
<html lang="en" ng-app="MessagesApp">
<head>
    <script type="text/javascript" src="/javascripts/Graphs/fusioncharts/fusioncharts.js"></script>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <script type="text/javascript" src="/javascripts/Graphs/angular-fusioncharts.min.js"></script>
    <script type="text/javascript" src="/javascripts/checklist-model.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload-shim.js"></script>
    <link rel="stylesheet" type="text/css" href="/Bootstrap/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="javascripts/display.js"></script>
    <script src="/Bootstrap/angular-animate/angular-animate.min.js"></script>
    <script src="/Bootstrap/angular-aria/angular-aria.min.js"></script>
    <script src="/Bootstrap/angular-messages/angular-messages.min.js"></script>
    <script src="/Bootstrap/angular-material/angular-material.js"></script>
    <link rel="stylesheet" href="/Bootstrap/angular-material/angular-material.css">
    <link rel="stylesheet" href="/stylesheets/Templates.css">
    <!-- extra, overriding theme files -->
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/ScreensManagement.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>
    <script type="text/javascript" src="/javascripts/Create.js"></script>
    <script type="text/javascript" src="/javascripts/Item.js"></script>
    <script type="text/javascript" src="/javascripts/Screens.js"></script>
    <script type="text/javascript" src="/javascripts/Templates.js"></script>
    <script type="text/javascript" src="/javascripts/Statistics.js"></script>


    <meta charset="UTF-8">
    <title>Statistics</title>
</head>
<body ng-controller="StatisticsCtrl">
<div class="container">
    <header>
        <ul class="nav nav-pills">
            <li><a href="/index">Home</a></li>
            <li><a href="/list">List</a></li>
            <li><a href="/Create">Create</a></li>
            <li><a href="/ScreensManagement">Simulate</a></li>
            <li><a href="/Screens">Screens</a></li>
            <li><a href="/Templates">Templates</a></li>
            <li><a href="/Statistics">Statistics</a></li>
            <li><a href="/About">About</a></li>
        </ul>
    </header>

    <div class="jumbotron">
        <h1>Statistics</h1>
    </div>


    <h3>Screens</h3>
    <div fusioncharts
         width="600"
         height="400"
         type="msline"
         chart="{{ScreensStatisticsChartOptions}}"
         categories="{{ScreensCategories}}"
         dataset="{{ScreensDataSet}}"
    ></div>

    <h3>Messages</h3>
    <div fusioncharts
         width="600"
         height="400"
         type="msline"
         chart="{{MessagesStatisticsChartOptions}}"
         categories="{{MessagesCategories}}"
         dataset="{{MessagesDataSet}}"
    ></div>

</div>
</body>
</html>