<!DOCTYPE html>
<html lang="en" ng-app="MessagesApp">
<head>
    <script type="text/javascript" src="/javascripts/Graphs/fusioncharts/fusioncharts.js"></script>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/angular/angular-route.js"></script>
    <script type="text/javascript" src="/javascripts/Graphs/angular-fusioncharts.min.js"></script>
    <script type="text/javascript" src="/javascripts/checklist-model.js"></script>
    <link rel="stylesheet" type="text/css" href="/Bootstrap/bootstrap/dist/css/bootstrap.css" />


    <!--<script src="/Bootstrap/hammerjs/hammer.min.js"></script>-->
    <!-- Angular Material requires Angular.js Libraries -->

    <script src="/Bootstrap/angular-animate/angular-animate.min.js"></script>
    <script src="/Bootstrap/angular-aria/angular-aria.min.js"></script>
    <script src="/Bootstrap/angular-messages/angular-messages.min.js"></script>
    <script src="/Bootstrap/angular-material/angular-material.js"></script>


    <!-- default themes and core styles -->
    <link rel="stylesheet" href="/Bootstrap/angular-material/angular-material.css">
    <link rel="stylesheet" href="/stylesheets/Templates.css">
    <!-- extra, overriding theme files -->
    <!--<link rel="stylesheet" href="/Bootstrap/angular-material/themes/indigo-theme.css">-->
    <!--<link rel="stylesheet" href="/Bootstrap/angular-material/themes/green-theme.css">-->

    <script type="text/javascript" src="/javascripts/display.js"></script>
    <!--<script type="text/javascript" src="/Bootstrap/angular-file-upload/dist/angular-file-upload.js"></script>-->
    <!--<script type="text/javascript" src="/Bootstrap/angular-file-upload/dist/angular-file-upload.min.js"></script>-->
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="/Bootstrap/ng-file-upload/ng-file-upload-shim.js"></script>
    <script type="text/javascript" src="/Bootstrap/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/Bootstrap/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/App.js"></script>
    <script type="text/javascript" src="/javascripts/Services.js"></script>
    <script type="text/javascript" src="/javascripts/Edit.js"></script>
    <script type="text/javascript" src="/javascripts/List.js"></script>
    <script type="text/javascript" src="/javascripts/ScreensManagement.js"></script>
    <script type="text/javascript" src="/javascripts/Create.js"></script>
    <script type="text/javascript" src="/javascripts/Item.js"></script>
    <script type="text/javascript" src="/javascripts/Screens.js"></script>
    <script type="text/javascript" src="/javascripts/Templates.js"></script>
    <script type="text/javascript" src="/javascripts/Statistics.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Templates</title>

</head>
<body ng-controller="TemplatesCtrl">




    <div class="container">
        <header>
            <ul class="nav nav-pills">
                <li><a href="/index">Home</a></li>
                <li><a href="/list">List</a></li>
                <li><a href="/Create">Create</a></li>
                <li><a href="/ScreensManagement">Simulate</a></li>
                <li><a href="/Screens">Screens</a></li>
                <li><a href="/Templates">Templates</a></li>
                <li><a href="/Statistics">Statistics</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </header>

        <div class="jumbotron">
            <h1>Templates:</h1>
        </div>
        <br>
        <div layout="column" ng-cloak style="height: 100%">
            <md-content class="md-padding">
                <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
                    <md-tab ng-repeat="template in TemplatesTabs"
                            ng-disabled="template.disabled"
                            label="{{template.title}}">

                        <md-content class="md-padding">
                            <xmp ng-bind="template.content" style="height: auto"></xmp>
                        </md-content>

                        <md-button class="md-primary md-raised" ng-click="removeTab(template)" ng-disabled="template.length <= 1">Remove template</md-button>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>


        <div id="editDelete" class="col-sm-12 form-inline" ng-hide="isEditMode">
            <button class="form-control btn btn-default" ngf-select="upload($files)">Upload template</button>
        </div>

        <div id="chanegsSaved" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Changes saved!</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


    </div>
</body>
</html>