<div id="MainContainer">
    <div class="FullLine">
        <div class="text" id="text1"></div>
    </div>
    <div class="LineW3">
        <div class="text" id="text2"></div>
        <div class="text" id="text3"></div>
        <div class="text" id="text4"></div>
    </div>

    <div class="FullLine">
        <div class="image">
            <img src="" id="image1" />
        </div>
    </div>
    <div class="LineW2">
        <div class="image">
            <img src="" id="image2" />
        </div>
        <div class="image">
            <img src="" id="image3" />
        </div>
    </div>
    <div class="LineW2">
        <div class="image">
            <img src="" id="image4" />
        </div>
        <div class="image">
            <img src="" id="image5" />
        </div>
    </div>
    <div class="FullLine">
        <div class="text" id="text5"></div>
        <div class="text" id="text6"></div>
        <div class="text" id="text7"></div>
        <div class="text" id="text8"></div>
        <div class="text" id="text9"></div>
        <div class="text" id="text10"></div>
    </div>
</div>

